<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.kumoh.s20130053.okky">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/okky_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/okky_icon"
        android:supportsRtl="true"
        android:theme="@style/BoardTheme">

        <!-- android:icon="@mipmap/ic_launcher" 기본 아이콘 -->
        <!-- android:roundIcon="@mipmap/ic_launcher_round" 라운드 아이콘 -->

        <activity
            android:name=".Board"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchActivityOnKeyboard"
            android:theme="@style/Transparent">
        </activity>
    </application>

</manifest>